/* General styles */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.about-section h2,
.membership-section h2,
.facilities-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2d3436;
}

.about-section p,
.membership-section p,
.facilities-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.membership-section .btn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.facilities-section img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-center {
  text-align: center !important;
}


/* Hero Banner */
.hero-banner h1 {
  font-size: 2.5rem;
}

.hero-banner p {
  font-size: 1.2rem;
}

/* General CTA button styling */
.cta-btn {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

/* Hover effect for all CTAs */
.cta-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Special styling for MembershipSection button */
#membership-section .cta-btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-banner h1 {
    font-size: 2rem;
  }

  .hero-banner p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.
